<app-directives></app-directives>


<!-- <app-block></app-block> -->
<!-- <app-interpolation></app-interpolation> --> 
<!-- <app-user-profile></app-user-profile> --> 

<!-- 
<ul *ngIf="isGuestListDisplayed">
    <li>Pommes de terre</li>
    <li [ngStyle]="{backgroundColor : isThisIngredientVital ? 'red':'yellow' }">Raclette</li>
    <li>Jambon</li>
    <li [ngClass] = "{'vital' : isThisIngredientVital}">Cornichons</li>
    <li>Chou-fleur</li>
</ul>

<ul>
    <li *ngFor="let song of songList">
        {{song}}
    </li>
</ul> -->